[user]
  name = Igor Gatis
  email = igorgatis@gmail.com

[color]
  ui = auto  # make it pretty

[diff]
  color = auto

[merge]
  tool = vimdiff3

[mergetool]
  keepBackup = false

[alias]
  vimdiff = diff --tool=vimdiff
  diff = diff --relative
  dd = diff --relative --name-status
  p = diff --relative --name-only
  l = log --decorate
  lg = log --decorate --graph
  ls = log --decorate --graph --simplify-by-decoration
  ld = log --no-merges --format='%h %an <%ae>%n        %s%n' -10
  s = status -b -s
  ca = commit
  ci = commit
  b = branch
  co = checkout

[credential]
  helper = cache --timeout=3600
